.profile {
  border: 2px black;
  border-radius: 30px;
  // background-color: rgb(226, 225, 208);
  width: 800px;
  height: 200px;
  padding: 10px;

  &__wrapper {
    padding: 20px;
    display: flex;
  }

  &__image {
    border-radius: 90px;
    width: 128px;
    height: 128px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
  }
}
.info {
  &__field-block {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
  }
  &__title {
    font-weight: 700;
  }
  &__field {
  }
  &__email {
  }
}
