<div class="profile__wrapper profile">
  <div class="profile__image-block">
    <img
      class="profile__image"
      src="https://www.burkemuseum.org/sites/default/files/images/biology/herpetology/washington/northern-red-legged-frog1-1100x555.jpg"
      alt="Аватар пользователя"
    />
  </div>
  <div class="profile__info info">
    <div class="info__field-block">
      <span class="info__title">Имя</span>
      <span class="info__field">Миша</span>
    </div>
    <div class="info__field-block">
      <span class="info__title">Фамилия</span>
      <span class="info__field">Казаков</span>
    </div>
    <div class="info__field-block">
      <span class="info__title">Email</span>
      <span class="info__field">sobaka@deputata.mail.com</span>
    </div>
    <div class="info__field-block">
      <span class="info__title">Группа</span>
      <span class="info__field">КН-402</span>
    </div>
  </div>
</div>
