.task-block-title {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
}

.task-content-window {
	padding: 0;
}

.deadline-block {
	position: relative;
	display: flex;
	padding: 25px 30px 20px 30px;
	border-bottom: 1px solid #d0d0d0;
	align-items: center;
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		margin-right: 10px;
	}

	&__score {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
	}

	&__status {
		@extend .deadline-block__score;
		font-weight: bold;
		opacity: 50%;
		position: absolute;
		right: 50px;
	}

	&__progress-bar {
		width: 120px;
	}
	&__progress-bar-wrapper {
		display: flex;
		align-items: center;
		position: absolute;
		right: 300px;
	}
	
	&__button{
		position: absolute;
		right: 30px;
	}
}

.requirements-block {
	@extend .deadline-block;
	flex-direction: column;
	align-items: flex-start;
	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 30px;
	}

	&__score {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	&__score-text {
		font-size: 18px;
		margin-left: 20px;
		max-width: 900px;
		max-height: 200px;
		word-wrap: break-word;
		overflow: auto;
	}

	&__score-point {
		background-repeat: no-repeat;
		width: 18px;
		height: 18px;
		margin: 0;
	}

	&__textarea {
		font-size: 18px;
		width: 400px;
		max-width: 875px;
		max-height: 400px;
	}

	&__add-button {
		margin-top: 35px;
		margin-bottom: 50px;
	}
}

.description-block {
	@extend .deadline-block;
	align-items: flex-start;
	justify-content: space-between;
	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 30px;
	}

	&__wrapper-text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__text {
		max-width: 670px;
		word-wrap: break-word;
		overflow: auto;

		span {
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 24px;
		}
	}

	&__textarea {
		font-size: 18px;
		width: 400px;
		max-width: 700px;
		max-height: 400px;
	}

	&__button-change-description {
		margin-top: 40px;
	}

	&__wrapper-load {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__upload {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.solution-block {
	@extend .deadline-block;
	flex-direction: column;
	align-items: flex-start;
	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 30px;
	}
}

.file-name {
	margin-top: 10px;
	max-width: 170px;
}

.page__edit-title {
	position: relative;
	display: flex;
	align-items: center;
	margin: 30px 0;
	h1 {
		margin: 0;
		margin-right: 20px;
	}
}

.edit-title-window {
	position: absolute;
	left: 370px;
	top: 0;
	z-index: 1;
}

.edit-deadline-window {
	position: absolute;
	left: 417px;
	top: 25px;
	z-index: 1;
}

.edit-block-wrapper {
	background: rgb(0, 0, 0, 0.5);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 100;
	top: 0;
	left: 0;
}