<section>
  <article class=page__title-wrapper>
    <h1 class="page__title">Список студентов</h1>
    <button (click)="createGroupModal()" class="confirm-press-button">Создать новую группу</button>
  </article>

  <section *ngFor="let group of modelStudentList.groupList" class="content-window">

    <article [ngStyle]="{'border-bottom': group.isOpenView ? '1px solid #E5E5E5' : '0'}"
      class="course-list-head__wrapper">
      <div class="course-list-head__block">
        <span class="course-list-head__title">{{group.name || "Группа без имени"}}</span>
        <div class="course-list-head__right-block">

          <div *ngIf="group.isEditGroupTitle" class="edit-block-wrapper">
            <edit-window (inputValue)="editGroup($event)" inputName="Название группы" buttonName="Сохранить">
            </edit-window>
          </div>
          <div *ngIf="group.isDeleteGroup" class="edit-block-wrapper">
            <confirm-window (confirmValue)="deleteGroup($event)" inputName={{group.name}}></confirm-window>
          </div>

          <button (click)="editGroupTitleModal(group)" class="course-list-head__button low-press-button">Изменить
            название</button>
          <button (click)="deleteGroupModal(group)" class="course-list-head__button low-press-button">Удалить
            группу</button>
          <button class="course-list-head__show-button" (click)='openGroup(group)'></button>
        </div>
      </div>
    </article>

    <article *ngIf="group.isOpenView" class="course-list-body__wrapper">

      <article>
        <form [formGroup]="addStudentGroupForm">
          <div class="course-list-body__row-title">
            <span class="course-list-body__element-title course-list-body__first-title ">Студенты</span>
          </div>
          <div>
            <label class="custom-input">
              <input formControlName="email" type="text" placeholder="&nbsp;" class="control-input" />
              <span>Почта студента</span>
            </label>
          </div>
          <button (click)="addNewStudent(group)"
            class="course-list-body__create-button low-press-button">Добавить</button>
        </form>

        <article class="task-list">
          <div *ngFor="let student of group.inviteList" class="task-list__wrapper">
            <span class="task-list__task-name">{{student.name || student.email}}</span>
            <div class="task-list__task-edit">
              <div *ngIf="isDeleteStudent" class="edit-block-wrapper">
                <confirm-window (confirmValue)="deleteStudent($event)" inputName={{student.name || student.email}}>
                </confirm-window>
              </div>
              <button [disabled]="!student.isAccepted" [ngClass]="{'no-solution-button':!student.isAccepted}"
                (click)="toCourseList(student)" class="low-press-button">Список курсов</button>
              <button [disabled]="!student.isAccepted" [ngClass]="{'no-solution-button':!student.isAccepted}"
                (click)="toProfile(student)" class="low-press-button">Профиль</button>
              <button (click)="deleteUserModal()" class="closeMark"></button>
            </div>
          </div>
        </article>

      </article>

      <article>

        <form [formGroup]="addCourseGroupForm">
          <div class="course-list-body__row-title">
            <span class="course-list-body__element-title course-list-body__other-title">Курсы</span>
          </div>
          <div>
            <label class="custom-input">
              <select id="selectCourse" formControlName="course" class="custom-select">
                <option *ngFor="let course of allCourseList" value={{course.id}}>{{course.name}}</option>
                <option hidden disabled selected>Добавить курс этой группе</option>
              </select>
            </label>
          </div>
          <button (click)="addNewCourse(group)" class="course-list-body__create-button low-press-button">Добавить</button>
        </form>

        <article>
          <div *ngFor="let courseList of group.courseList" class="task-list__wrapper">
            <span class="task-list__task-name">{{courseList.name}}</span>
            <div class="task-list__task-edit">
              <button [routerLink]="[]" class="low-press-button">Задачи курса</button>
              <button (click)="deleteCourseModal()" class="closeMark"></button>
            </div>
          </div>
        </article>

      </article>

    </article>

  </section>

</section>

<div *ngIf="isCreateGroup" class="edit-block-wrapper">
  <edit-window (inputValue)="addNewGroup($event)" inputName="Название группы" buttonName="Создать"></edit-window>
</div>



<div *ngIf="isDeleteCourse" class="edit-block-wrapper">
  <confirm-window (confirmValue)="deleteCourse($event)" inputName="Скрипты"></confirm-window>
</div>