$spinkit-size: 4em !default;
$spinkit-spinner-color: #007ac0aa !default;

.sk-three-bounce {
	$animationDuration: 1.4s;
	$delayRange: 0.32s;
	width: ($spinkit-size * 2);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.sk-child {
		width: ($spinkit-size / 2);
		height: ($spinkit-size / 2);
		background-color: $spinkit-spinner-color;

		border-radius: 100%;
		display: inline-block;
		animation: sk-three-bounce $animationDuration ease-in-out 0s infinite both;
	}

	.sk-bounce-1 {
		animation-delay: -$delayRange;
	}
	.sk-bounce-2 {
		animation-delay: (-$delayRange / 2);
	}
}

@keyframes sk-three-bounce {
	0%,
	80%,
	100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1.0);
	}
}
