<loader *ngIf="isLoadingCourseList"></loader>
<section *ngIf="!isLoadingCourseList">
    <article class=page__title-wrapper>
        <h1 class="page__title">Курсы</h1>
        <button (click)="createCourseModal()" class="confirm-press-button">Создать новый курс</button>
    </article>
    <section *ngFor="let course of modelEditCourse.courseList; trackBy: trackByFn" class="content-window">

        <article [ngStyle]="{'border-bottom': course.isOpenView ? '1px solid #E5E5E5' : '0'}"
            class="course-list-head__wrapper">
            <div class="course-list-head__block">
                <span class="course-list-head__title">{{course.name}}</span>
                <span class="course-list-head__score">Баллов: {{course.maxScore}}</span>
                <div class="course-list-head__right-block">
                    <button (click)="editCourseModal(course)"
                        class="course-menu__button low-press-button">Редактировать название</button>
                    <button (click)="deleteCourseModal(course)"
                        class="course-list-head__button low-press-button">Удалить
                        курс</button>
                    <div *ngIf="course.isDeleteCourse" class="edit-block-wrapper">
                        <confirm-window (confirmValue)="deleteCourse($event)" inputName={{course.name}}>
                        </confirm-window>
                    </div>
                    <div *ngIf="course.isEditCourse" class="edit-block-wrapper">
                        <create-window (inputValue)="editCurrentCourse($event)" firstTitle="Название курса"
                            buttonName="Сохранить" needSecond='false'>
                        </create-window>
                    </div>
                    <button (click)="openCourse(course)" class="course-list-head__show-button"></button>
                </div>
            </div>
        </article>


        <article *ngIf="course.isOpenView" class="course-list-body__wrapper">
            <form [formGroup]="descriptionForm" class="description-block__wrapper-text">
                <div class="course-list-body__row-title">
                    <span class="course-list-body__element-title">Описание курса</span>
                </div>
                <textarea placeholder="Добавить описание" formControlName="description" #descriptionTextarea
                    *ngIf="course.isEditDescription" spellcheck="true" class="description-block__textarea"
                    name="requirements-textarea">{{course.descriptionText}}</textarea>
                <span *ngIf="!course.isEditDescription"
                    class="description-block__text">{{course.descriptionText}}</span>
                <button (click)="editDescription(course)" *ngIf="!course.isEditDescription"
                    class="low-press-button description-block__button-change-description ">Изменить описание</button>
                <button (click)="saveDescription(course)" *ngIf="course.isEditDescription"
                    class="low-press-button description-block__button-change-description">Сохранить</button>
                <button (click)="cancelDescription(course)" *ngIf="course.isEditDescription"
                    class="low-press-button">Отмена</button>
            </form>
            <form [formGroup]="addTaskForm">
                <div class="course-list-body__row-title">
                    <span class="course-list-body__element-title">Задача</span>
                </div>
                <div>
                    <label class="custom-input">
                        <input formControlName="name" type="text" placeholder="&nbsp;" class="control-input" />
                        <span>Назавние новой задачи</span>
                    </label>
                    <label class="custom-input">
                        <input formControlName="deadline" type="text" placeholder="&nbsp;" class="control-input" />
                        <span>Дедлайн новой задачи</span>
                    </label>
                </div>
                <button (click)="addTask(course.id)"
                    class="course-list-body__create-button low-press-button">Добавить</button>
            </form>

            <article class="task-list">
                <div *ngFor="let task of course.courseTasks" class="task-list__wrapper">
                    <span class="task-list__task-name">{{task.name}}({{task.maxScore}})</span>
                    <span class="task-list__task-deadline">{{task.deadline}}</span>
                    <div class="task-list__task-edit">
                        <div *ngIf="task.isDeleteTask" class="edit-block-wrapper">
                            <confirm-window (confirmValue)="deleteTask($event)" inputName={{task.name}}>
                            </confirm-window>
                        </div>
                        <button [routerLink]="[task.name, task.id]"
                            class="low-press-button task-list__task-edit-button">Редактировать</button>
                        <button (click)="deleteTaskModal(course, task)" class="closeMark"></button>
                    </div>
                </div>
            </article>
        </article>

    </section>

</section>

<div *ngIf="isCreateCourse" class="edit-block-wrapper">
    <create-window (inputValue)="addNewCourse($event)" firstTitle="Название курса" needSecond='false'
        buttonName="Создать"></create-window>
</div>