<nav class="navigation">
  <ul>
    <li>
      <a [routerLink]="['/profile']" routerLinkActive="router-link-active"
        >Профиль</a
      >
    </li>
    <li>
      <a [routerLink]="['/student-list']" routerLinkActive="router-link-active"
        >Список Студентов</a
      >
    </li>
    <li>
      <a [routerLink]="['/registration']" routerLinkActive="router-link-active"
        >Регистрация</a
      >
    </li>
    <li>
      <a [routerLink]="['/login']" routerLinkActive="router-link-active"
        >Войти</a
      >
    </li>
  </ul>
</nav>
