$logo: #9e0000;
$links: #333333;
$confirm: #05a3ff;

.content__border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.logo-block {
	display: inline-block;
	padding: 7px 20px;
	background-color: $logo;
	color: #fff;
	&:hover {
		color: #fff;
	}
}

.navigation {
	&__wrapper {
		display: flex;
		position: relative;
		align-items: center;
		max-width: 937px;
		padding: 28px 0;
		margin: auto;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	a {
		font-size: 17px;
		font-family: "SansPro";
		text-decoration: none;
		line-height: 21px;
		font-weight: 600;
		color: $links;
		cursor: pointer;
		&:hover {
			color: $confirm;
		}
	}

	&__main-menu {
		display: flex;
		li {
			margin-left: 30px;
		}
	}

	&__auth-menu {
		display: flex;
		align-items: center;
		position: absolute;
		right: 0;
		li {
			margin-left: 30px;
		}
	}

	&__profile-name {
		font-size: 17px;
		font-family: "SansPro";
		text-decoration: none;
		line-height: 21px;
		font-weight: 600;
		color: $links;
	}

	&__profile-photo {
		margin-left: 28px;
		border-radius: 100px;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}

	&__exit-logo {
		cursor: pointer;
		margin-left: 32px;
		background-color: white;
		background-image: url(static\image\Exit.svg);
		background-repeat: no-repeat;
		border: 0;
		width: 22px;
		height: 23px;
	}
}
