.task-block-title {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
}

.task-content-window {
	padding: 0;
}

.deadline-block {
	position: relative;
	display: flex;
	padding: 25px 30px 20px 30px;
	border-bottom: 1px solid #d0d0d0;
	align-items: center;
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		margin-right: 10px;
	}

	&__score {
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		margin-left: 25px;
	}

	&__status {
		@extend .deadline-block__score;
		font-weight: bold;
		opacity: 50%;
		position: absolute;
		right: 50px;
	}

	&__complete-task-button{
		margin-left: 20px;
	}
}

.set-score {
	@extend .deadline-block;
	align-items: flex-start;
	flex-direction: column;

	&__save-score {
		margin-top: 20px;
	}
}

.requirements-block {
	@extend .deadline-block;
	flex-direction: column;
	align-items: flex-start;
	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 30px;
	}

	&__score-block {
		min-width: 100%;
		display: flex;
	}

	&__score {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	&__score-text {
		margin-left: 20px;
		max-height: 200px;
		max-width: 500px;
		word-wrap: break-word;
		overflow: auto;
		font-size: 18px;
	}

	&__status {
		background-repeat: no-repeat;
		width: 30px;
		height: 30px;
		border-radius: 15px;
	}

	&__button-block {
		margin-left: 20px;
		min-width: 150px;
		button {
			min-width: max-content;
		}
	}
}

.description-block {
	@extend .deadline-block;
	align-items: flex-start;
	justify-content: space-between;
	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 10px;
	}

	&__wrapper-text {
		display: flex;
		flex-direction: column;
	}

	&__text {
		max-width: 670px;
		word-wrap: break-word;
		overflow: auto;

		span {
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 24px;
		}
	}

	&__wrapper-load {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__download {
		&:hover {
			color: white;
		}
	}
}

.solution-block {
	padding: 25px 30px 20px 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 30px;
	}

	&__send-solution {
		min-width: 17%;
	}

	&__form {
		max-width: 75%;
		display: flex;
		align-items: center;
	}
	&__download {
		color: white;
		text-decoration: none;
		&:hover {
			color: white;
		}
	}
}

.file-name {
	margin-left: 20px;
	word-break: break-word;
}

.input-file-name {
	margin-bottom: 10px;
	max-width: 120px;
	word-break: break-word;
}

//overload
.custom-input {
	span {
		bottom: 35%;
	}
}
.custom-input input:placeholder-shown:focus ~ span,
.custom-input input:not(:placeholder-shown) ~ span {
	bottom: 60%;
}
