<loader *ngIf="isCheckTaskPageLoad"></loader>

<section *ngIf="!isCheckTaskPageLoad">
    <h1 class="page__title">{{checkTaskModel.name}}({{checkTaskModel.currentScore || 0}}/{{checkTaskModel.maxScore}})
    </h1>
    <section class="content-window task-content-window">
        <article class="deadline-block">
            <span class="deadline-block__title">Дедлайн</span>
            <span class="deadline-block__title">{{checkTaskModel.deadline}}</span>
            <button (click)="completeTask()" class="deadline-block__complete-task-button low-press-button">Зачесть задачу и требования</button>
            <span
                class="deadline-block__status">{{checkTaskModel.currentScore === checkTaskModel.maxScore ? "Закрыт": "В работе"}}</span>
        </article>
        <form class="set-score" [formGroup]="taskScoreForm">
            <label class="custom-input">
                <input formControlName="currentScore" type="text" placeholder="&nbsp;" class="control-input" />
                <span>Кол-во баллов за задачу</span>
            </label>
            <button (click)="changeScore()" class="set-score__save-score low-press-button">Сохранить оценку</button>
        </form>
        <article class="requirements-block">
            <span class="requirements-block__title">Требования</span>
            <div>
                <div *ngFor="let requirement of checkTaskModel.requirementList" class="requirements-block__score">
                    <div class="requirements-block__score-block">
                        <div [ngClass]="{'req-success':requirement.status, 'req-fail':!requirement.status}"
                            class="requirements-block__status">
                        </div>
                        <span class="requirements-block__score-text">{{requirement.text}}
                        </span>
                    </div>
                    <div class="requirements-block__button-block">
                        <button (click)="setRequirementValue(true, requirement)" *ngIf="!requirement.status"
                            class="low-press-button">Засчитать</button>
                        <button (click)="setRequirementValue(false, requirement)" *ngIf="requirement.status"
                            class="low-press-button">Не сделано</button>
                    </div>
                </div>
            </div>
        </article>
        <article class="description-block">
            <div class="description-block__wrapper-text">
                <span class="description-block__title">Описание</span>
                <div class="description-block__text">
                    <span>{{checkTaskModel.descriptionText}}</span>
                </div>
            </div>
            <div class="description-block__wrapper-load ">
                <span class="description-block__title">Входные данные</span>
                <span
                    class="input-file-name">{{checkTaskModel.input ? checkTaskModel.input.name : "Отсутствуют"}}</span>
                <a *ngIf="downloadEntryURL" download class="low-press-button description-block__download"
                    href={{downloadEntryURL}}>Скачать</a>
            </div>
        </article>
        <article class="solution-block">
            <span class="solution-block__title">Решение</span>
            <button class="low-press-button solution-block__send-solution">
                <a class="solution-block__download" href={{downloadSolutionURL}}>Скачать</a>
            </button>
        </article>
    </section>
</section>