<loader *ngIf="isLoadingCoursePage"></loader>
<section *ngIf="!isLoadingCoursePage">
    <h1 class="page__title">Курсы</h1>
    <div *ngIf="!modelCourseList.courseList.length" class="not-found__wrapper">
        <span class="not-found__text">Нет доступных курсов этому пользователю</span>
    </div>
    <section *ngFor="let course of modelCourseList.courseList; trackBy: trackByFn" class="content-window">
        <article [ngStyle]="{'border-bottom': course.isOpenView ? '1px solid #E5E5E5' : '0'}"
            class="course-list-head__wrapper">
            <div class="course-list-head__block">
                <span class="course-list-head__title">{{course.name}}</span>
                <div class="middle-block">
                    <div class="progress-bar">
                        <span [ngStyle]="{'width': course.progress + '%'}"></span>
                    </div>
                    <span class="course-list-head__score">{{course.currentScore}}/{{course.maxScore}}</span>
                </div>
                <div class="right-block">
                    <span class="course-list-head__status" [ngClass]="{'course-list-head__success':course.currentScore === course.maxScore,
                         'course-list-head__fail':course.currentScore !== course.maxScore}">
                        {{course.currentScore === course.maxScore  ? 'Зачет' : 'Незачет'}}</span>
                    <button class="course-list-head__show-button" (click)='openCourse(course)'></button>
                </div>
            </div>
        </article>
        <section *ngIf="course.isOpenView" class="course-list-body__wrapper">
            <div class="description-course description-course__wrapper">
                <div class="description-course__row-title">
                    <span>Описание</span>
                </div>
                <span class="description-course__text">{{course.descriptionText || "Описание отсутствует"}}</span>
            </div>
            <div class="course-list-body__row-title">
                <span class="course-list-body__element-title">Задача</span>
                <span class="course-list-body__middle-block middle-block-requirements">Требования</span>
                <span class="course-list-body__rigth-block">Решение задачи</span>
            </div>
            <article *ngFor="let task of course.courseTasks" class="course-list-body__row-element">
                <a class="course-list-body__element-title" [routerLink]="[task.name, task.id]">
                    <span>{{task.name}}({{task.currentScore}}/{{task.maxScore}})</span>
                </a>
                <div class=" course-list-body__middle-block">
                    <div *ngFor="let requirement of task.requirementStatusList"
                        [ngClass]="{'req-success':requirement.status, 'req-fail':!requirement.status}" class="point">
                        <span></span>
                    </div>
                </div>
                <button class=" 
                    course-list-body__rigth-block 
                    low-press-button" [disabled]="!task.solutionId"
                    [ngClass]="{'no-solution-button':!task.solutionId}">
                    <a href={{task.downloadUrl}}>Скачать</a>
                </button>
            </article>
        </section>
    </section>
</section>