<div class="registration registration__form-bolck">
  <h2 class="registration__title">Регистрация</h2>
  <form [formGroup]="registrationForm" class="registration__form">
    <label for="email">Адрес электронной почты</label>
    <input id="email" type="email" formControlName="email" class="control" />
    <label for="firstName">Имя</label>
    <input type="text" formControlName="firstName" id="firstName" class="control" />
    <label for="surname">Фамилия</label>
    <input
      type="text"
      formControlName="surname"
      id="surname"
      class="control"
    />
    <label for="secondName">Отчество</label>
    <input
      type="text"
      formControlName="secondName"
      id="second-name"
      class="control"
    />
    <label for="password">Пароль</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      class="control"
    />
    <label for="passwordConfirm">Повторите пароль</label>
    <input
      type="password"
      formControlName="passwordConfirm"
      id="passwordConfirm"
      class="control"
    />
    <label for="group">Группа</label>
    <input type="text" formControlName="group" id="group" class="control" />
    <button (click)="registrationRequest()" [disabled]="registrationForm.invalid" class="registration__submit">
      Зарегистрироваться
    </button>
  </form>
</div>
