<article class="registration registration__form-bolck">
  <h1 class="registration__title">Регистрация</h1>
  <form [formGroup]="registrationForm">
    <div class="registration__form">
      <label class="custom-input">
        <input formControlName="firstName" type="text" placeholder="&nbsp;" class="control-input" />
        <span>Имя</span>
      </label>
      <label class="custom-input">
        <input formControlName="surname" type="text" placeholder="&nbsp;" class="control-input" />
        <span>Фамилия</span>
      </label>
      <label class="custom-input">
        <input formControlName="secondName" type="text" placeholder="&nbsp;" class="control-input" />
        <span>Отчество</span>
      </label>
      <label class="custom-input">
        <input formControlName="email" type="email" placeholder="&nbsp;" class="control-input" />
        <span>Email</span>
      </label>
      <label class="custom-input">
        <input formControlName="password" type="password" placeholder="&nbsp;" class="control-input" />
        <span>Пароль</span>
      </label>
      <label class="custom-input">
        <input formControlName="passwordConfirm" type="password" placeholder="&nbsp;" class="control-input" />
        <span>Повторите пароль</span>
      </label>
      <label class="custom-input">
        <input formControlName="group" type="text" placeholder="&nbsp;" class="control-input" />
        <span>Группа</span>
      </label>
      <div class="registration__checkbox-group">
        <div>
          <input formControlName="student" type="checkbox" id="student" class="control-checkbox" />
          <label for="student">Студент</label>
        </div>
        <div>
          <input formControlName="admin" type="checkbox" id="admin" class="control-checkbox" />
          <label for="admin">Преподаватель</label>
        </div>
      </div>
      <button (click)="registrationRequest()" class="registration__submit-button press-button">
        Создать аккаунт
      </button>
    </div>
  </form>
</article>