<loader *ngIf="!modelTask.name"></loader>
<section *ngIf="modelTask.name">
    <h1 class="page__title">{{modelTask.name}}</h1>
    <section class="content-window task-content-window">
        <article class="deadline-block">
            <span class="deadline-block__title">Дедлайн</span>
            <span class="deadline-block__title">{{modelTask.deadline}}</span>
            <div class="deadline-block__progress-bar-wrapper">
                <div class="progress-bar deadline-block__progress-bar">
                    <span [ngStyle]="{'width': progress + '%'}"></span>
                </div>
                <span class="deadline-block__score">{{modelTask.currentScore || 0}}/{{modelTask.maxScore}}</span>
            </div>
            <span class="deadline-block__status">{{modelTask.status ? "Закрыт": "В работе"}}</span>
        </article>
        <article class="requirements-block">
            <span class="requirements-block__title">Требования</span>
            <div>
                <div *ngFor="let requirement of modelTask.requirementList" class="requirements-block__score">
                    <div [ngClass]="{'req-success':requirement.status, 'req-fail':!requirement.status}"
                        class="requirements-block__status">
                    </div>
                    <span class="requirements-block__score-text">{{requirement.text}}
                    </span>
                </div>
            </div>
        </article>
        <article class="description-block">
            <div class="description-block__wrapper-text">
                <span class="description-block__title">Описание</span>
                <div class="description-block__text">
                    <span>{{modelTask.descriptionText}}</span>
                </div>
            </div>
            <div class="description-block__wrapper-load ">
                <span class="description-block__title">Входные данные</span>
                <span class="input-file-name">{{modelTask.input ? modelTask.input.name : "Отсутствуют"}}</span>
                <a *ngIf="downloadEntryURL" download class="low-press-button description-block__download"
                    href={{downloadEntryURL}}>Скачать</a>
            </div>
        </article>
        <article class="solution-block">
            <span class="solution-block__title">Решение</span>
            <form [formGroup]="uploadSolutionFrom">
                <label class="low-press-button" for="uploaded-file">Загрузить</label>
                <input formControlName="file" class="snatch" id="uploaded-file" name="file" type="file"
                    title="Загрузить" (change)="getFileName($event)">
                <span class="file-name" id="file-name">{{uploadFileName}}</span>
                <button *ngIf="uploadFileName" (click)='uploadSolution()'
                    class="low-press-button solution-block__send-solution">Отправить</button>
            </form>
        </article>
    </section>
</section>