.requirements-block {
	&__score {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	&__score-text {
		font-size: 18px;
		margin-left: 20px;
		max-width: 900px;
		max-height: 400px;
		word-wrap: break-word;
		overflow: auto;
	}

	&__status {
		background-repeat: no-repeat;
		width: 30px;
		height: 30px;
		border-radius: 15px;
	}

	&__score-point {
		background-repeat: no-repeat;
		width: 18px;
		height: 18px;
		margin: 0;
	}
}

.closeMark {
	background-image: url(static/image/Mark.svg);
	margin-left: 10px;
	border: 0;
	&:hover {
		cursor: pointer;
	}
}
