.login {
  &__title {
    display: flex;
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__submit {
    margin: auto;
  }

  & input {
    margin-bottom: 25px;
  }
}
