.login {
  border: 2px black;
  border-radius: 30px;
  // background-color: rgb(226, 225, 208);
  width: 350px;
  padding: 10px;

  &__form-block {
    margin: auto;
    display: grid;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__form {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
  &__submit {
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    width: 150px;
    height: 35px;
  }
}

.control {
    margin-top: 10px;
  border: 0;
  // background-color: rgb(226, 225, 208);
  border-bottom: 1px solid;
  &:focus {
    outline: 0;
  }
  &:active {
    background-color: rgb(226, 225, 208);
  }
}
