<div class="login login__form-block">
  <h1 class="login__title">Войти</h1>
  <form class="login__form" [formGroup]="loginForm">
    <label class="custom-input">
      <input formControlName="email" type="email" placeholder="&nbsp;" class="control-input" />
      <span>Email</span>
    </label>
    <label class="custom-input">
      <input formControlName="password" type="password" placeholder="&nbsp;" class="control-input" />
      <span>Пароль</span>
    </label>
    <button (click)="login()" [disabled]="loginForm.invalid" class="press-button login__submit">
      Вход
    </button>
  </form>
</div>