<section>
    <h1 class="page__title">Курсы</h1>
    <section *ngFor="let course of modelCourseList.courseList" class="content-window">
        <article [ngStyle]="{'border-bottom': isOpen ? '1px solid #E5E5E5' : '0'}" class="course-list-head__wrapper">
            <div class="course-list-head__block">
                <span class="course-list-head__title">{{course.name}}</span>
                <div class="middle-block">
                    <div class="progress-bar">
                        <span style="width: 50%"></span>
                    </div>
                    <span class="course-list-head__score">{{course.currentScore}}/{{course.maxScore}}</span>
                </div>
                <div class="right-block">
                    <span class="course-list-head__status">{{course.courseStatus ? 'Зачет' : 'Незачет'}}</span>
                    <button class="course-list-head__show-button" (click)='openCourse()'></button>
                </div>
            </div>
        </article>
        <section *ngIf="isOpen" class="course-list-body__wrapper">
            <div class="course-list-body__row-title">
                <span class="course-list-body__element-title">Задача</span>
                <span class="course-list-body__middle-block">Требования</span>
                <span class="course-list-body__rigth-block">Входные данные</span>
            </div>
            <article *ngFor="let task of course.courseTasks" class="course-list-body__row-element">
                <a class="course-list-body__element-title" [routerLink]="[course.name, task.name]">
                    <span>{{task.name}}</span>
                </a>
                <div class=" course-list-body__middle-block">
                    <div *ngFor="let requirement of task.requirementList"
                        [ngStyle]="{'background-color': requirement.status ?'#00b7df' : '#cbf6ff'}" class="point">
                        <span></span>
                    </div>
                </div>
                <button class=" 
                    course-list-body__rigth-block 
                    low-press-button">Скачать</button>
            </article>
        </section>
    </section>
</section>