.middle-block {
	left: 310px;
	display: flex;
	position: absolute;
	align-items: center;
}

.right-block {
	padding: 5px 0px;
	position: absolute;
	right: 30px;
}

.course-list-head {
	&__wrapper {
		width: 100%;
		display: flex;
		position: relative;
	}

	&__block {
		padding: 25px 30px;
		display: flex;
	}

	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
	}

	&__score {
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		margin-left: 25px;
	}

	&__status {
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: #9e0000;
	}

	&__show-button {
		cursor: pointer;
		margin-left: 35px;
		width: 25px;
		height: 15px;
		background: transparent;
		border: 0;
		background-image: url("static/image/ShowArrow.svg");
		background-repeat: no-repeat;
	}
}

.course-list-body {
	&__wrapper {
		padding: 25px 30px;
		box-sizing: content-box;
	}

	&__row-title {
		display: flex;
		position: relative;
		span {
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__middle-block {
		left: 285px;
		display: flex;
		position: relative;
		flex-wrap: wrap;
		max-width: 300px;
	}

	&__rigth-block {
		right: 40px;
		display: flex;
		position: absolute;
		align-items: center;
	}

	&__row-element {
		border-bottom: 1px solid #d0d0d0;
		padding-bottom: 10px;
		margin-top: 25px;
		position: relative;
		display: flex;
	}

	&__element-title {
		max-width: 200px;
		word-wrap: break-word;
		position: absolute;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		text-decoration: none;
	}
}

