<form [formGroup]="createWindowGroup" class="edit-block">
    <label class="custom-input">
        <input formControlName="firstTitle" type="text" placeholder="&nbsp;" class="control-input" />
        <span>{{firstTitle}}</span>
    </label>
    <label class="custom-input">
        <input formControlName="secondTitle" type="text" placeholder="&nbsp;" class="control-input" />
        <span>{{secondTitle}}</span>
    </label>
    <button (click)="getInputValue()" class="confirm-press-button">{{buttonName}}</button>
</form>