.page {
	&__title-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		margin: 30px 0;
		h1 {
			margin: 0;
			margin-right: 20px;
		}
	}
}

.course-list-head {
	&__wrapper {
		width: 100%;
		display: flex;
		position: relative;
	}

	&__block {
		padding: 25px 30px;
	}

	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
	}

	&__show-button {
		cursor: pointer;
		margin-left: 29px;
		width: 25px;
		height: 15px;
		background: transparent;
		border: 0;
		background-image: url("static/image/ShowArrow.svg");
		background-repeat: no-repeat;
		position: absolute;
		right: 30px;
		bottom: 30px;
	}

	&__right-block {
		position: absolute;
		right: 30px;
	}
}
.course-list-body {
	&__wrapper {
		padding: 25px 30px;
	}
}

.task-list {
	&__wrapper {
		display: flex;
		padding: 20px 15px;
		border-bottom: 1px solid #e5e5e5;
		position: relative;
	}
	&__task-name {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
	}

	&__task-edit {
		display: flex;
		align-items: center;
		position: absolute;
		right: 0;
		button {
			margin-right: 23px;
		}
	}
}
