<section>
    <article class=page__title-wrapper>
        <h1 class="page__title">Список пользователей</h1>
        <button (click)="toResultStudents()" class="confirm-press-button">Результаты студентов</button>
    </article>

    <section *ngFor="let group of modelUserList.groupList" class="content-window">

        <article [ngStyle]="{'border-bottom': group.isOpenView ? '1px solid #E5E5E5' : '0'}" class="course-list-head__wrapper">
            <div class="course-list-head__block">
                <span class="course-list-head__title">{{group.name}}</span>
                <div class="course-list-head__right-block">
                    <button class="course-list-head__show-button" (click)='openGroup(group)'></button>
                </div>
            </div>
        </article>

        <article *ngIf="group.isOpenView" class="course-list-body__wrapper">

            <article class="task-list">
                <div *ngFor="let student of group.studentList" class="task-list__wrapper">
                    <span class="task-list__task-name">{{student.studentName}}</span>
                    <div class="task-list__task-edit">
                        <button [routerLink]="[]" class="low-press-button">Список курсов</button>
                        <button [routerLink]="[]" class="low-press-button">Профиль</button>
                    </div>
                </div>
            </article>

        </article>

    </section>

</section>